.bulk-edit__view td{
    text-align:center;
    padding:5px;
}
.bulk-edit__view-element{
    padding:10px;
}
.ngx-datatable .datatable-body .datatable-body-row {
    outline: none;
    border-bottom: 1px solid #eee !important;
}
.ngx-datatable .datatable-body .datatable-row-wrapper{
    border-bottom:1px solid #eee !important;
}
.ngx-datatable .datatable-body .datatable-body-row {
    outline: none;
    border-bottom: 1px solid #eee !important;
}