<!--<tour-step-template></tour-step-template>-->
<div class="page-body">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Section 1</h5>
        </div>
        <div class="card-block" tourAnchor="tour2">
          <p>Use code inside div element <code tourAnchor="start.tour">tourAnchor="start.tour"</code> to create tour.</p>
          <p>
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
          </p>
        </div>
      </div>
      <!-- Section 1 start -->
    </div>
    <div class="col-sm-6">
      <!-- Section 2 start -->
      <div class="card">
        <div class="card-header">
          <h5>Section 2</h5>
        </div>
        <div class="card-block" tourAnchor="tour3">
          <p>
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
          </p>
        </div>
      </div>
      <!-- Section 2 end -->
    </div>
    <div class="col-sm-6">
      <!-- Section 3 start -->
      <div class="card">
        <div class="card-header">
          <h5>Section 3</h5>
        </div>
        <div class="card-block" tourAnchor="tour4">
          <p>
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."
          </p>
        </div>
      </div>
      <!-- Section 3 end -->
    </div>
    <div class="col-sm-4">
      <!-- Button card start -->
      <div class="card button-page">
        <div class="card-header">
          <h5>Button</h5>
        </div>
        <div class="card-block">
          <ul>
            <li tourAnchor="tour5">
              <button class="btn btn-primary">Primary Button</button>
            </li>
            <li>
              <button class="btn btn-success">Success Button</button>
            </li>
            <li>
              <button class="btn btn-info">Info Button</button>
            </li>
            <li>
              <button class="btn btn-warning">Warning Button</button>
            </li>
          </ul>
        </div>
      </div>
      <!-- Button card end -->
    </div>
    <div class="col-sm-4">
      <!-- Button card start -->
      <div class="card button-page">
        <div class="card-header" tourAnchor="tour6">
          <h5>Rounded Button</h5>
        </div>
        <div class="card-block">
          <ul>
            <li>
              <button class="btn btn-primary btn-round">Primary Button
              </button>
            </li>
            <li>
              <button class="btn btn-success btn-round">Success Button
              </button>
            </li>
            <li>
              <button class="btn btn-info btn-round">Info Button</button>
            </li>
            <li>
              <button class="btn btn-warning btn-round">Warning Button
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- Button card end -->
    </div>
    <div class="col-sm-4">
      <!-- Button card start -->
      <div class="card button-page">
        <div class="card-header">
          <h5>Square Button</h5>
        </div>
        <div class="card-block" tourAnchor="tour7">
          <ul>
            <li>
              <button class="btn btn-primary btn-square">Primary Button
              </button>
            </li>
            <li>
              <button class="btn btn-success btn-square">Success Button
              </button>
            </li>
            <li>
              <button class="btn btn-info btn-square">Info Button</button>
            </li>
            <li>
              <button class="btn btn-warning btn-square">Warning Button
              </button>
            </li>
          </ul>
        </div>
      </div>
      <!-- Button card end -->
    </div>
  </div>
</div>
